# Dependencies
**/node_modules/

# Builds
**/dist/
**/build/

# Tests
**/coverage/
**/.nyc_output/

# Generated artifacts
**/*.min.js

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*

# OS/IDE
**/.DS_Store
**/Thumbs.db
.vscode/
.idea/
